name: Daily test run

on:
  schedule:
    - cron: "0 16 * * *"  # 21:00 Pakistan
  workflow_dispatch: {}

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: pip install -r requirements.txt

      - name: Run script
        env:
          SSM_TOKEN: ${{ secrets.SSM_TOKEN }}
        run: python main.py

      - name: Upload GIF artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: screenshot-gifs
          path: out
          if-no-files-found: ignore
